<!DOCTYPE html>
<html lang="en">
<head>
    <title>People</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
      body {
        font-family: 'Roboto', sans-serif !important;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
</head>
<body class="bg-gray-900 text-white">
<!-- Navigation Bar -->
{% if user.is_authenticated %}
<nav class="flex flex-row bg-gray-800 p-4 align-center items-center">
    <!-- Brand/logo -->
    <a class="text-xl px-4 items-center justify-center" href="{%  url 'person_index_route' %}">People</a>
    <!-- Links -->
    <ul class="flex flex-row px-4">
        <li class="dropdown-item text-danger flex items-center justify-center px-4 py-2 ml-4 font-semibold text-white bg-red-500 rounded-lg shadow-md hover:bg-red-700 ease-in-out">
            <a href="{%  url 'person_index_route' %}" class="">All People</a>
        </li>
        <li class="flex items-center justify-center px-4 py-2 ml-4 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 ease-in-out">
            <a href="{%  url 'person_create_route' %}" class="">Create Person</a>
        </li>
    </ul>
    <div class="flex justify-center items-center ml-auto">
      <span class="navbar-brand">Hi {{ user.username }}!</span>
      <form class="form-inline" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="dropdown-item text-danger flex items-center justify-center px-4 py-2 ml-4 font-semibold text-white bg-red-500 rounded-lg shadow-md hover:bg-red-700 ease-in-out">Logout</button>
      </form>
  </div>

</nav>
{% endif %}
<!-- content placeholder -->
{% block content %}
    if you see this, something is wrong!
{% endblock content %}
</body>
</html>
